* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.CarouselConteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.carousel {
  width: 600px;
  margin: auto;
  box-shadow: 1px 1px 5px #ccc;
}
